body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin: 0;
     height: 100vh;
    background-color:black;
  }
  .calculator {
    background-color: #000000;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  input[type="text"] {
    padding: 10px;
    margin-bottom: 40px;
    font-size: 24px;
    text-align: right;
    border-radius: 5px;
    color: #ffffff;
  }
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }
  button {
    padding: 20px;
    font-size: 20px;
    border: none;
    border-radius: 60px;
    background-color: hsl(0, 0%,30%);
    cursor: pointer;
    transition: background-color 0.2s;
    color: #ffffff;
  }
  button:hover {
    background-color:  hsl(0, 0%,30%);;
  }
  button:active {
    background-color:  hsl(0, 0%,50%);;
  }
  .btn{
    background-color: hsl(35, 100%, 55%);
  }
  .btn:hover{
    background-color: hsl(35, 100%, 55%);
  }
  .btn:active{
    background-color: hsl(35, 100%, 55%);
  }
  .fa-solid fa-delete-left{
    ;
  }
